<div class="p-4 p-md-5 d-flex flex-column justify-content-center text-body-emphasis featured posted">
  <div class="borders">
    <div class=" headTitle d-flex justify-content-center position-relative">FEATURED POST</div>
    <div class="wholeGrp ">

      <img class="backgroundimg" src="assets/bg-start.jpg" width="90%">
      <div class=" featuredContent position-relative">

        <p class="display-4 text-start fw-normal featuredTitle">
          <%= post1[0].title %>
        </p>
        <p class="lh-sm my-2 postContent">
          <%= post1[0].content %>
        </p>

      </div>

    </div>
  </div>
</div>