<div class="d-flex subbox flex-row align-items-center">
    <div class="nevermisstxt col-md-8 ">
    Never Miss a New Post.

    </div>

    <div class="subscription col-md-4">
        <form class="d-flex" role="subscription">
          <input class="form-control rounded-0 me-2" type="email" placeholder="Enter your email*" aria-label="Enter your email*">
          <button class="btn btn-outline-dark" type="submit">Subscribe</button>
        </form>
    </div>


</div>

<div class="lol"></div>