<%- include("partials/headerAboutMe.ejs") %>

    <div class="p-4 p-md-5 d-flex flex-column justify-content-center text-body-emphasis featured posted">
        <div class="borders">
            <div class="wholeGrp ">

                <img class="AboutPic" src="assets/hero.jpg" width="90%">
                <div class=" featuredContent position-relative">

                    <p class="display-4 text-start fw-normal featuredTitle">
                        About Me
                    </p>
                    
                    <p class="lh-sm my-3 postContent">Hello! I'm Vaibhav Dekatey, the author of this blog. I am passionate about Anime, Art, Video Games, Music, Coffee and much more. This blog is a space where I share my thoughts, experiences, and knowledge on
                        various topics that interest me. I hope you find the content here informative and engaging.
                    </p>

                    <p class="lh-sm my-3 postContent">I started this blog as a way to document my journey and share my insights with a wider audience.
                        Whether it's about Anime, Video Games, or Coffee, I strive to provide valuable and
                        interesting content. When I'm not blogging, you can find me doing some sort of art.
                    </p>

                    <p class="lh-sm my-3 postContent">Feel free to reach out to me through the contact form if you have any questions, suggestions, or
                        just want to connect. Thank you for visiting my blog, and I hope you enjoy reading it as much as
                        I enjoy writing it!
                    </p>
                    

                </div>

            </div>
        </div>
    </div>




    <%- include("partials/subscription.ejs") %>

        <%- include("partials/contact.ejs") %>

            <%- include("partials/footer.ejs") %>